@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --primary-color: #2490eb;
  --secondary-color: #1cba9f;
  --white: #fff;

  --site-font: 'Quicksand', sans-serif;
  --weight-600: 600;
}
#navcolor {
  background-color: #fff !important;
  font-size: 150%;
}
 #navcolor h2{
  text-align: left;
  color: #2490eb;
 }
 #navcolor img{
  margin-left: 5px;
 }
 
/* nav font color */
.nav-link {
  color: #2490eb !important;
}


body {
  font-family: var(--site-font);
  background: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--weight-600);
}
