@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --primary-color: #2490eb;
  --secondary-color: #1cba9f;
  --white: #fff;

  --site-font: 'Quicksand', sans-serif;
  --weight-600: 600;
}

body {
  font-family: var(--site-font);
  background: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--weight-600);
}
