.activeLogo,
.iconMenu,
.appointmentBtnActive {
  display: none;
}

.first,
.second {
  font-family: 'Yeseva One';
  color: var(--navbar-secondary-color);
  font-size: 3rem;
}

.second {
  color: var(--navbar-text-color);
}

.navbar {
  width: 100%;
  padding: 1.5rem 5.2rem;
  background-color: var(--navbar-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
}

.navbar.scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
}

.navbar.scrolled .navLink {
  top: 100%;
}

.navLink a {
  font-size: 1.5rem;
  padding-right: 1.7rem;
  color: var(--navbar-text-color);
}

.navLink a:hover,
.navLink a.active {
  color: var(--navbar-hover-color);
}

.navLink.open a {
  padding: 1.7rem 0;
}

.navbarBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  color: var(--button-text-color);
  background-color: var(--button-background);
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
}

button:hover {
  color: #bfd2f8;
  background-color: #159eec;
}

@media (max-width: 425px) {
  .appointmentBtn {
    display: none;
  }

  .activeLogo,
  .iconMenu,
  .appointmentBtnActive {
    display: block;
  }

  .appointmentBtnActive button {
    font-size: 2rem;
    color: #fcfefe;
    background: #1f2b6c;
    width: 100%;
  }

  .navbarBtn {
    position: absolute;
    right: 9rem;
  }

  .navLink {
    position: absolute;
    top: 24%;
    left: -100%;
    width: 100%;
    padding: 0 15% 4rem;
    background: #bfd2f8;
  }

  .navLink.active {
    left: 0;
  }

  .navLink .link {
    display: block;
    color: #1f2b6c;
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
  }

  .navLink .link.active {
    font-weight: bold;
    color: #1f2b6c;
  }
}
