@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.swiper-wrapper {
  padding-bottom: 2rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  height: 1.6rem;
  width: 1.6rem;
}

.swiper-pagination-bullet {
  background: #bfd2f8;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #1f2b6c;
}

.custom-pagination.swiper-pagination-bullet {
  background-color: #fcfefe;
}

.custom-pagination.swiper-pagination-bullet-active {
  background-color: #bfd2f8;
}
